# Xero Configuration
XERO_CLIENT_ID=
XERO_CLIENT_SECRET=

# The IP must match the one used in Caddyfile
# This URL must be added to "Redirect URIs" in Xero Developer Console
REDIRECT_URI=https://budget.34.9.39.101.sslip.io/callback

# Streamlit Config
STREAMLIT_SERVER_PORT=8501
